@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    /* background-color: #fefefe; */
}
:root {
	--web-view-ids: Main;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: inline-flex;
    /* justify-content: center; */
    align-items: left;
    padding: 16em 0 2vh 0;
    overflow-y: hidden;
}
section .content {
    text-align: center;
    width: 100vw;
    padding: 1em;
}
section .content h2 {
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    background-clip: text;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section:nth-child(1) .content h2 {
    text-align: center;
    background-image: url(bg8.jpg);
}
section:nth-child(2) .content h2 {
    background-image: url(bg23.jpg);
}
section:nth-child(3) .content h2 {
    background-image: url(bg20.jpg);
}
section:nth-child(4) .content h2 {
    background-image: url(bg4.jpg);
}
section .content p {
    font-size: 14pt;
    font-weight: 500;
    max-width: 800px;
}
section .content a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}
.left-align {
    text-align: left;
    padding: 0 1vw;
}
.right-align {
    margin: 0 0 0 auto;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 0 1vw;
}
.top-align {
    margin-top: -12em;
}
.projects{
    width: 10vw;
}
.full-pic{
    width: 30em;
}
/*--Navigation--*/
#logo, .hover, .navOption, .nav{
	display: inline-flex;
	color: black;
}
.nav{
    font-size: 1em;
	display: flex;
	position: fixed;
	align-items: center;
	width: 100%;
	z-index: 1000;
	background-image: linear-gradient(-90deg, rgba(255,255,255,0), rgba(255,255,255,1));
	top: 0;
}
.nav a {
    text-decoration: none;
}
.navOption {
    width: 5em;
    margin: 0 1em;
}
.navGroup {
    flex: 1;
	justify-content: space-between;
}
.hover {
    width:0;
	margin-right: 100%;
	white-space: nowrap;
	overflow: visible;
	transition: 0.4s ease-in;
	background-image:linear-gradient(0deg,rgba(2,123,255,1) 2px,rgba(0,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.navOption:hover .hover {
    margin-right: 0%;
	opacity:1;
	width:6em;
	transition: 0.3s ease-in;
}
.hovLeft {
    margin-right: -1em;
}
#logo {
    font-size:3em;
    font-weight: 600;
    margin: 0 1em 0 1em;
}
#logo:hover, .navOption:hover .hover {
	color: rgba(2,123,255,1);
	border-color: rgba(2,123,255,1);
}
#footer {
    display: inline-grid;
    position: fixed;
    right: 5vw;
	margin-top: 1em;
	padding-top: 1vh;
}
.footerIcons a img {
	height: 3vh;
	width: auto;
	padding: 0 0.5vw;
}
.footerIcons a:hover img {
    /* placeholder until svg paths are inlined. then, use fill */
    filter: invert(50%) sepia(0%) saturate(476%) hue-rotate(67deg) brightness(118%) contrast(119%);
}
@media (max-aspect-ratio: 7/8) {
    #logo{
        width: 100vw;
    }
    #footer {
        top: auto;
        bottom: 3vh;
        right: 5vw;
    }
    .top-align{
        margin-top: 0;
    }
    .full-pic {
        width: 18em;
        overflow: hidden;
    }
    section .content p {
        font-size: 11pt;
    }
}