@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap);
.homepage-body {
    height: 100ch;
}
.homepage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-title div {
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    font-weight: 900;
    line-height:1em;
    background-image: url(https://steliosphanartzis.github.io/images/background/bg8.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.scrolling-words-container {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
  }
  .scrolling-words-box {
    height: 3rem;
    overflow: hidden;
  }
  .scrolling-words-box ul {
    margin: 0;
    padding: 0;
    animation: scrollUp 8s infinite;
  }
  .scrolling-words-box ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
    border: 0px;
    padding: 0 0.625rem;
  }
  .item-1, .item-5 {
  color: #44d;
  }
  .item-2, .item-4 {
  color: #4d4;
  }
  .item-3 {
  color: #d44;
  }
  
  @keyframes scrollUp {
    15%, 25% {
      transform: translateY(-20%);
    }
    40%, 50% {
      transform: translateY(-40%);
    }
    65%, 75% {
      transform: translateY(-60%);
    }
    90%, 100% {
      transform: translateY(-80%);
    }
  }